<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }}) </li>
        </ul>
        <template v-for="(ingredient, index) in ingredients">
            <h2>{{ ingredient }}</h2>
            <p>{{ index }}</p>
        </template>
        <br>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
            </li>
        </ul>
        <span v-for="n in 10">{{ n }}</span>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'bean', 'milk'],
                persons: [{
                        name: 'Max',
                        age: 27,
                        color: 'red'
                    },
                    {
                        name: 'Anna',
                        age: 'unkown',
                        color: 'blue'
                    }
                ]
            }
        });
    </script>
</body>

</html>